@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

*{
 margin: 0;
 padding: 0;
 outline: 0;
 box-sizing: border-box;
}

body{
    font: 400 14px Roboto,  sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialised;
}

input, button, textarea {
    font: 400 18px Roboto,  sans-serif;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}


/* CSS MVP */
.button-poke{
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    background: -webkit-linear-gradient(315deg,#1e90ff,#6495ed);
    background: -o-linear-gradient(315deg,#1e90ff,#6495ed);
    background: linear-gradient(135deg,#1e90ff,#6495ed);
    -webkit-box-shadow: 0 0 3px #6495ed;
    box-shadow: 0 0 3px #6495ed;
    font-size: 12px;
    height: 27px;
    padding: 0 12px;
}
.card{
    width:100%;
    margin:0 auto;
    background-color: #FFF;
    top: 0;
    transform: translateY(-100%);
    transition: transform .3s cubic-bezier(.4,0,.6,1),opacity 0s .3s;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    z-index: 4;
    opacity: 1;
    transform: translateY(0);
    transition: transform .3s cubic-bezier(.4,0,.2,1) .3s,opacity 0s .3s;
}

.card-content{
    font:18px;
    color:gray;
    margin-bottom: 10px;
}